.home-index{
	height: 100vh;
	text-decoration: none;
/*	border: .1px solid #4cb050;*/
}
.home-index .logo{
	height: 40%;
	text-align: center;
}
.home-index .logo img{
	height: 80%;
	width: 60%;
	margin: auto;
	text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.home-index .logo div{
	font-size: 2rem;
	margin-top: -2.5rem;
	color: #ededdf;
	font-weight: bolder;
}
.home-index .links{
	height: 60%;
	border-radius: 10% 10% 0% 0%;
	background-color: whitesmoke;
	padding: 3rem 1rem;
	text-align: center;
}
.home-index .links a{
	color: black;
	font-size: 1.5rem;
}
.home-index .links a:hover{
	background-color: #EDEDDF;
}
.home-index .links .link{
	display: inline-block;
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem 0rem;
	background-color: white;
	box-shadow: 10px 10px 9px -6px rgba(0,0,0,0.75);
	border-radius: 15px;
}

.home-index .links{
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.32);
}

@media only screen and (min-width: 425px){
	.home-index .logo{
		height: 40%;
		text-align: center;
	}
	.home-index .logo img{
		height: 90%;
		width: 30%;
	}
	.home-index .links{
		height: 55%;
		width: 50%;
		margin: auto;
		border-radius: 0;
		background: none;
	}
	.home-index .links a{
		font-size: 2rem;
	}

	.home-index .links .link{
		width: 80%;
	}


}