<h1>Show page</h1>
<div>
	<%= @masjid.name %>
	<% if @masjid.user == current_user %>
		<div>
		  <strong>status:</strong>
		  <% Masjid::STATUSES.each do |status| %>
		    <%= link_to_unless @masjid.status.eql?(status.to_s), status, update_status_masjid_path(@masjid, status: status), data: {turbo_method: :put} %>
		  <% end %>
		</div>
	<% end %>
</div>