<div class="home-index">
	<div class="logo">
		<div class="img"></div>
	</div>
	<div class="links">
		<div class="link">Admin</div>
		<div class="link">User</div>
		<div class="link">Add new Masjid</div>
		<div class="link">Find new Masjid</div>
	</div>
</div>
