.imam{
	background-color: white;
	margin-top: 1rem;
	box-shadow: 10px 10px 9px -6px rgba(0,0,0,0.75);
	border-radius: 15px;
	padding: 1rem;
	font-size: 1.2rem;
}
.imam strong{
	color: grey;
}
.imam .name{
	font-size: 1.5rem;
}
@media only screen and (min-width: 425px){
	.imam{
		width: 40%;
		font-size: 2rem;
		margin: auto;
		margin-bottom: 2rem;
	}
	.imam .name{
		font-size: 2rem;
	}
	.imam strong{
		font-size: 1.5rem;
	}
}