.users-show{
	padding: 2rem;
}
.user-show{
    background-color: white;
    padding: 1rem;
    font-size: 1.5rem;
	box-shadow: 10px 10px 9px -6px rgba(0,0,0,0.75);
}
.user-show strong{
	font-size: 1rem;
	color: grey;
	margin-right: .5rem;
}
@media only screen and (min-width: 425px){
	.user-show{
		width: 50%;
		margin: auto;
		font-size: 2rem;
		margin-top: 4rem;
		margin-bottom: 2rem;
	}
	.user-show strong{
		font-size: 1.5rem;
	}
}