.masjids-form{
	padding: 2rem;
	font-weight: bolder;
}
.masjid-form{
	background-color: white;
	font-size: 2rem;
	box-shadow: 10px 10px 9px -6px rgba(0,0,0,0.75);
}
.masjid-form h3{
	text-align: center;
	padding-top: 2rem;
	margin-bottom: 1rem;
}
.masjid-form input{
	font-size: 1.3rem;
	border: none;
	border-bottom: 2px solid black;
	width: 90%;
    margin: auto;
    margin-left: .9;
	outline: none;
	margin-bottom: 1.3rem;
	padding: .6rem 0;
	margin-left: .7rem;
}
.masjid-form input[type=submit]{
	border: none;
	padding: .5rem 2rem;
	background-color: blue;
	font-weight: bolder;
	margin-left: .7rem;
	cursor: pointer;
	color: white;
}

@media only screen and (min-width: 425px){
	.masjids-form{
		width: 30%;
		margin: auto;
		margin-top: 2rem;
	}
	.masjid-form input{
		margin-left: 1.5rem;

	}
	.masjid-form input[type=submit]{
		margin-left: 1.5rem;
	}
}