.masjids-index{
/*	background-color: #4cb050;*/
/*	height: 100vh;*/
}
.masjids-index h1{
	text-align: center;
	padding-top: 3rem;
}
.index-masjid{
	margin-top: 2rem;
	border-radius: 15px;
	padding: 2rem;
	padding-top: 0;
	font-size: 1.2rem;
}