.masjids-show{
	background-color: #4cb050;
/*	height: 100vh;*/
	padding: 2rem 1rem;
	line-height: 2rem;
	font-size: 2rem;
}
.masjid-show{
    background-color: white;
    padding: 1rem;
    font-size: 1.5rem;
	box-shadow: 10px 10px 9px -6px rgba(0,0,0,0.75);
}
.masjid-show strong{
	font-size: 1rem;
}
.masjid-show .name{
	margin-left: 1rem;
	font-size: 2rem;
	margin-bottom: 1rem;
}